{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Your Application</h1>

                <a href="{{ path('news_index') }}">View news</a>
            </div>
        </div>
    </div>
{% endblock %}
